:root {
  --black:  #070707;
  --grey: #828282;
  --white: #ffffff;
  --bg-500: #f6f6f6;
  --bg-600:#e5e5e5;


}

// :root {
//   --primary-text-color: #898F8F;
//   --gold:#FFCC00;
//   --grey: #666666;
//   --dark-grey: #333333;
// }